:root {
  --cover-text-color: #006494;
  --highlight: #00bcd4;
  --highlight-contrast: #1a1a1a;

  --section-light-text-color: #2c3e50;
  --section-light-bg-color: #ffffff;
  --section-dark-text-color: #ffffff;
  --section-dark-bg-color: #0a3d62;
}
