footer .footer-link {
  font-size: 3rem !important;
}

footer.site-footer nav.footer-nav a.footer-link {
  font-size: 1.5rem !important;
  color: #ffffff !important;
  padding: 10px 16px !important;
}

footer.site-footer nav.footer-nav a.footer-link + a.footer-link {
  margin-left: 30px !important;
}

blockquote {
  color: #555 !important;     /* темно-сірий, контрастний */
  font-style: italic;
}

blockquote::before, blockquote::after {
  color: #777 !important;     /* лапки також темніші */
}

