<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

{{ if and site.Params.combine_page_and_site_title .Title .Site.Title }}
<title>{{ .Title | plainify }} | {{ .Site.Title | plainify }}</title>
{{ else }}
{{ with or .Title .Site.Title | plainify }}
<title>{{ . }}</title>
{{ end }}
{{ end }}

{{ with resources.Get .Site.Params.favicon }}
  <link rel="shortcut icon" href="{{ .RelPermalink }}" type="{{ .MediaType.Type }}" />
{{ end }}

{{ with or .Description .Site.Params.description | plainify }}
  <meta name="description" content="{{ . }}" />
{{ end }}
{{ with or (delimit .Keywords ", ") .Site.Params.meta.keywords }}
  <meta name="keywords" content="{{ . }}" />
{{ end }}
<meta name="referrer" content="no-referrer-when-downgrade" />

<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{/* === CSS Pipeline === */}}
{{ $stylesheetNormalize := resources.Get "css/normalize.css" }}
{{ $stylesheetGeneric   := resources.Get "css/generic.css" }}
{{ $stylesheetScreen    := ( resources.Get "css/_index.scss" | css.Sass ) }}
{{ $theme               := printf "css/themes/%s.scss" .Site.Params.theme | resources.Get | css.Sass | resources.Minify }}
{{ $stylesheetCustom    := resources.Get "css/custom.css" | resources.Minify }}

{{ $stylesheet := slice $stylesheetNormalize $stylesheetGeneric $stylesheetScreen $theme $stylesheetCustom | resources.Concat "css/style.css" | resources.Minify | resources.Fingerprint }}

<link rel="preload" href="{{ $stylesheet.RelPermalink }}" as="style">
<link rel="stylesheet" href="{{ $stylesheet.RelPermalink }}" type="text/css" integrity="{{ $stylesheet.Data.Integrity }}" />

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/schema.html" . }}

{{/* === Favicons === */}}
{{ with resources.Get "images/apple-touch-icon.png" }}
<link rel="apple-touch-icon" sizes="180x180" href="{{ .RelPermalink }}" />
{{ end }}
{{ with resources.Get "images/favicon.svg" }}
<link rel="icon" type="image/svg+xml" href="{{ .RelPermalink }}" />
{{ end }}
{{ range seq 9 4 }}
  {{ $size := pow 2 . }}
  {{ $file := replace "images/favicon-##x##.png" "##" $size }}
  {{ with resources.Get $file }}
  <link rel="icon" type="{{ .MediaType.Type }}" sizes="{{ $size }}x{{ $size }}" href="{{ .RelPermalink }}" />
  {{ end }}
{{ end }}

